name: Push Branch

on:
  push:
    branches:
      - '*'

env: {}

jobs:
  call-build:
    name: Standard Build
    uses: silnith-org/parent-pom/.github/workflows/build.yaml@main
    secrets: inherit
